.user-list{
  display:flex;
  justify-content: space-around;
  list-style: none;
   font-size: 28px;
   font-weight: 900;
}
.user-list-names{
  display:flex;
  justify-content: space-around;
  list-style: none;
  font-size: 18px;
}
